- @page_title = 'Navigation - ' + default_page_title

.outset
  = render 'header'
  #navigation_table
    %table.index
      %thead
        %tr
          %th Navigation
          %th Modify
      %tbody#navigation_table_body
        = render :partial => 'navigation', :collection => @navigations

#actions
  %ul
    %li= link_to "New Navigation", new_admin_navigation_path 
    %li
      - form_tag nil, :method => 'get', :style => "display:inline" do 
        %input{ :type => "search", :id => "search", :name => "search" , :value => params[:search] }
        = submit_tag "Search"
        = observe_field 'search',  :frequency => 1, :update => 'navigation_table_body', :url =>  { :controller => 'navigations', :action=> 'index' }, :method => 'get', :with => "'search=' + escape(value)"